.ui.borderless.menu{
  font-family: sans-serif;
  background-color: transparent;
  box-shadow: none;
  border: none;
  padding-right: 25px;
  padding-left: 63px;
  padding-top: 13px;
}

.part-one{
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/27/Waikiki_at_dusk.jpg);
  background-size:cover;
  padding-bottom: 200px;
  color: white;
}

h1{
  color: white;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 80px;
  margin-left: 25%;
  margin-right: 25%;
}

h2{
  color: white;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 20px;
  margin-left: 25%;
  margin-right: 25%;
}

h3{
  font-family: sans-serif;
  font-weight: 100;
  font-size: 50px;
}

p{
  font-size: 15px;
  margin-right: 25%;
}
